.frase{
    font-size: 20px;
}
.campo-digitacao{
    font-size: 20px;
    height: 150px;
}
.campo-desativado{
    background-color: lightgray;
    color: grey;
}
.campo-ativado{
    background-color: white;
    color: black;
}
.icones{
    vertical-align: middle;
}