body{
    overflow: scroll;
}
.frase{
    font-size: 20px;
    text-align: left;
}
.campo-digitacao{
    font-size: 20px;
    height: 150px;
    border: 3px solid black;
}
.campo-desativado{
    background-color: lightgray;
    color: grey;
}
.campo-ativado{
    background-color: white;
    color: black;
}
.icones{
    vertical-align: middle;
}
.borda-verde{
    border-color: green;
}
.borda-vermelha{
    border-color: red;
}
.placar{
    display: none;
}